:root {
   
  --white:#fff;
  --blueTxt: #42a9ed;
  --blueHover: #43abf0;
  --blueTitle: #3e9cdc;
  --hoverBtn : #317cb0;
  --stepBg: #3e9cdc;
  --stepBorder: #286690;
  --borderColor: #6f6d7b;
  --btnDark: #2a2b30;
  --txtHover:#b2b2b2;
  --disabled: #ccc;
  --primary: #132c38;
  --dropboxColor: #081a22;
  --grey:#bdbdbd;
  --borderGrey: #979797;
  --bluePrimary: #0d99e7;
  --btnColor: #f7ba4b;
  --yellowText: #ffd262;
  --btnHover: #ac8234;
  --purple: #8836ae;
  --itemBg:#15151D;
  --btnTextColor: #191919;
  --primaryGreen: #29A643;
  --successGreen: #3c763d;
  --lightGreen: #b1ffc2;
  --red: #d51820;
  --chevronDown:#ffa3a6;
  --lightYellow:#fff8d6;
  --black: #000;
  --boxBg: #0b0819;
  --successBox: #f3fef4;
  --sectionBg:#f4f4f4;
  --darkText: #252525;
  --socialGrey: #bdbdbd;
  --textGrey: #888888;
  --disabled: #ccc;

}
